<footer>
  <div class="container">
    <div class="quicklinks col-lg-3 col-md-4 col-sm-4">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">The Club</a></li>
        <li><a href="#">Club Activities</a></li>
        <li><a href="#">Facilities</a></li>
        <li><a href="#">Guide To Membership</a></li>
        <li><a href="#">Reservations</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div class="testimonial col-lg-3  col-lg-offset-1 col-md-4 col-sm-4">
      <h4>Testimonial</h4>
      <p>
        "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer"
      </p>
      <a class="name" href="#">( Lorem ipsum )</a>
    </div>

    <div class="contact col-lg-3 col-lg-offset-1 col-md-4 col-sm-4">
      <h4>Contact Us</h4>
      <address>
        Address : Lorem Ipsum is simply <br/>
        dummy text of the printing
      </address>
    </div>
  </div>
</footer>
