<div>
  <h2>Event Profile</h2>

  <form>
    <div class="form-group">
      <label>{{ 'NAME' | translate }}</label>
      <input class="form-control"
        id="name"
        name="name"
        ng-model="vm.event.name" />
    </div>

    <div class="form-group">
      <label>{{ 'START' | translate }}</label>
      <input class="form-control"
        id="start"
        name="start"
        ng-model="vm.event.start"
        bs-datepicker />
    </div>

    <div class="form-group">
      <label>{{ 'END' | translate }}</label>
      <input class="form-control"
        id="end"
        name="end"
        ng-model="vm.event.end"
        bs-datepicker />
    </div>

    <div class="form-group">
      <label>{{ 'EVENT_TYPE' | translate }}</label>
      <input class="form-control"
        id="eventType"
        name="eventType"
        ng-model="vm.event.event_type" />
    </div>

    <div class="form-group">
      <label>{{ 'PRIVACY' | translate }}</label>
      <select class="form-control"
        ng-model="vm.event.privacy">
        <option value="" selected>Please select</option>
        <!-- TODO - Remove hard coding of values. -->
        <option value="U">{{ 'PUBLIC' | translate }}</option>
        <option value="P">{{ 'PRIVATE' | translate }}</option>
        <option value="R">{{ 'SPECIAL_RESTRICTION' | translate }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ 'CONTENT' | translate }}</label>
      <input class="form-control"
        id="content"
        name="content"
        ng-model="vm.event.content" />
    </div>
  </form>

  <p>Split update/create new functions into two pages, containing the same form.</p>
  <button ng-click="vm.update()">Update</button>
  <button ng-click="vm.create()">Create New</button>
  <button ng-click="vm.remove()">Delete</button>
</div>
