<div>
  <h4>Edit Profile</h4>
  <div class="profile">
    <form>
      <ul>
        <li>
          <span>{{ 'NAME' | translate }}</span>
          <input class="form-control"
            id="name"
            name="name"
            ng-model="vm.club.name" />
        </li>

        <li>
          <span>{{ 'URL' | translate }}</span>
          <input class="form-control"
            id="url"
            name="url"
            ng-model="vm.club.url" />
        </li>

        <li class="li-3">
          <span>{{ 'STATUS' | translate }}</span>
          <label>
            <select class="form-control"
              ng-model="vm.member.title">
              <option value="" selected>Please select</option>
              <!-- TODO - Remove hard coding. -->
              <option value="A">{{ 'ACTIVE' | translate }}</option>
              <option value="I">{{ 'INACTIVE' | translate }}</option>
            </select>
          </label>
        </li>

        <li>
          <span>{{ 'EMAIL' | translate }}</span>
          <input class="form-control"
            id="email"
            name="email"
            ng-model="vm.club.email" />
        </li>

        <li>
          <span>{{ 'PRIMARY_PHONE' | translate }}</span>
          <input class="form-control"
            id="primaryPhone"
            name="primaryPhone"
            ng-model="vm.club.primary_phone" />
        </li>

        <li>
          <span>{{ 'SECONDARY_PHONE' | translate }}</span>
          <input class="form-control"
            id="secondaryPhone"
            name="secondaryPhone"
            ng-model="vm.club.secondary_phone" />
        </li>

        <li>
          <span>{{ 'FAX_NUMBER' | translate }}</span>
          <input class="form-control"
            id="faxNumber"
            name="faxNumber"
            ng-model="vm.club.fax_number" />
        </li>

        <div class="hr"></div>
        <li>
          <input type="button"
            class="btn btn-success"
            value="Save"
            ng-click="vm.updateProfile()" />

          <!-- Reset changes. -->
          <a class="cancel-btn" href="#">Cancel</a>
        </li>
      </ul>

      <div class="float-r"><img src="images/profile-img.jpg"><div class="flr"> <label><select class="form-control">
        <option>Change photo</option>
        <option>One</option>
        <option>Two</option>
        </select></label></div>
      </div>

      <div class="profile-links flr"><a class="de-active" href="#">Deactivate</a> <a class="my-account" href="#">my club</a></div>
    </form>
  </div>
