<div>
  <form>
    <div class="form-group">
      <label>{{ 'NAME' | translate }}</label>
      <input class="form-control"
        id="name"
        name="name"
        ng-model="vm.club.name" />
    </div>

    <div class="form-group">
      <label>{{ 'URL' | translate }}</label>
      <input class="form-control"
        id="url"
        name="url"
        ng-model="vm.club.url" />
    </div>

    <div class="form-group">
      <label>{{ 'STATUS' | translate }}</label>
      <select class="form-control"
        ng-model="vm.member.title">
        <option value="" selected>Please select</option>
        <!-- TODO - Remove hard coding. -->
        <option value="A">{{ 'ACTIVE' | translate }}</option>
        <option value="I">{{ 'INACTIVE' | translate }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ 'EMAIL' | translate }}</label>
      <input class="form-control"
        id="email"
        name="email"
        ng-model="vm.club.email" />
    </div>

    <div class="form-group">
      <label>{{ 'PRIMARY_PHONE' | translate }}</label>
      <input class="form-control"
        id="primaryPhone"
        name="primaryPhone"
        ng-model="vm.club.primary_phone" />
    </div>

    <div class="form-group">
      <label>{{ 'SECONDARY_PHONE' | translate }}</label>
      <input class="form-control"
        id="secondaryPhone"
        name="secondaryPhone"
        ng-model="vm.club.secondary_phone" />
    </div>

    <div class="form-group">
      <label>{{ 'FAX_NUMBER' | translate }}</label>
      <input class="form-control"
        id="faxNumber"
        name="faxNumber"
        ng-model="vm.club.fax_number" />
    </div>
  </form>

  <button class="btn btn-primary"
    ng-click="vm.updateProfile()">
    {{ 'UPDATE' | translate }}
  </button>
</div>

