<div class="row bottom-spacer-sm">
  <!-- The trick to use 'navbar-fixed-top' with 'absolute' can make a navbar overlay
       with some other content, and won't pin to the top (because we set position to
       'absolute'.
  -->
  <div class="col-xs-12 col-md-10 col-md-offset-1 navbar navbar-fixed-top absolute-pos">

    <div class="row">
      <div class="col-xs-3 col-md-3">
        <a class="logo pull-right" href="#/home">
          <img src="images/logo.png" class="img-responsive">
        </a>
      </div>

      <div class="col-xs-8 col-md-7">
        <div class="row top-spacer-md">
          <div class="navbar-left">
            <ul class="media-top text-right">
              <li class="callnow">Call Us: 123-123-1234</li>
              <li><a class="fb" href="#"></a></li>
              <li><a class="twt" href="#"></a></li>
              <li><a class="pin" href="#"></a></li>
              <li><a class="rss" href="#"></a></li>
            </ul>
          </div>

          <div class="navbar-right">
            <login-plugin></login-plugin>
          </div>
        </div>

        <div class="row">
          <div class="navbar-collapse collapse">
            <ul class="nav-dashboard navbar-nav top-menu">
              <li><a href="#">The Club</a></li>
              <li><a href="#">Club Activities</a></li>
              <li><a href="#">Facilities</a></li>
              <li><a href="#">Guide To Membership</a></li>
              <li><a href="#">Reservations</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div><!-- End of nav menu. -->
      </div><!-- End of right column: col-md-7. -->
    </div>
  </div>
</div>
