<!-- Outline each booking in the booking list. -->
<div class="row booking-item">
  <div class="col-md-3">
    <img class="img-thumbnail pull-right"
      ng-src="{{ vm.clubImg }}"
      style="width: 150px; height: 170px" />
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="club-name">
        <a ng-click="">{{ vm.booking.facility.club.name }}</a>
      </div>

      <div class="booking-hr"></div>

      <div class="facility-name">
        <a ng-click="">{{ vm.booking.facility.name }}</a>
      </div>

      <div class="booking-hr"></div>

      <div class="dashboard-address">
        <span class="flag-icon flag-icon-{{ vm.country.toLowerCase() }}"></span>
        &nbsp;{{ vm.addressStr }}, {{ vm.country.toUpperCase() | translate }}
      </div>

      <div class="booking-hr"></div>

      <div class="price">
        <!-- TODO - Dynamically generate currency symbols. -->
        {{ vm.booking.currency == 'USD' ? '$' : '€' }} {{ vm.booking.rate }}
      </div>
    </div>

    <div class="row booking-hr"></div>

    <div class="row dashboard-div" ng-if="!vm.hasCompleted">
      <button type="button"
        class="btn btn-primary pull-left active no-round-corner"
        ng-click="vm.selectBooking(vm.booking)">
        <i class="fa fa-pencil-square-o fa-gw"></i>
        &nbsp;{{ 'VIEW_OR_EDIT' | translate }}
      </button>

      <a class="cancel-btn" ng-click="vm.cancel()">
        {{ 'CANCEL' | translate }}
      </a>
    </div>

    <div class="row dashboard-div" ng-if"vm.hasCompleted">
      <button type="button" class="btn btn-primary pull-left disabled no-round-corner">
        &nbsp;{{ 'BOOKING_COMPLETED' | translate }}
      </button>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6 dotted-border-right">
        <div class="dashboard-div-center">
          {{ 'CHECKIN' | translate }}
        </div>

        <div class="booking-day">
          {{ vm.day }}
        </div>

        <div class="booking-year">
          {{ vm.month | translate }} {{ vm.year }}
        </div>

        <div class="booking-time">
          {{ vm.time }}
        </div>

        <div class="booking-dow">
          {{ vm.dow | translate }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-div-center">
          {{ ('DURATION' | translate).toUpperCase() }}
        </div>

        <div class="booking-day">
          {{ vm.booking.duration }}
        </div>

        <div class="booking-year">
          {{ vm.timeUnit | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- HISTORY/CURRENT BOOKING FILTER. -->
