<div>
  <form>
    <div class="form-group">
      <label>{{ 'OLD' | translate }} {{ 'PASSWORD' | translate }}</label>
      <input class="form-control"
        id="oldPassword"
        name="oldPassword"
        ng-model="vm.oldPassword"
        type="password" />
    </div>

    <div class="form-group">
      <label>{{ 'NEW' | translate }} {{ 'PASSWORD' | translate }}</label>
      <input class="form-control"
        id="newPassword"
        name="newPassword"
        ng-model="vm.newPassword"
        type="password" />
    </div>

    <div class="form-group">
      <label>
        {{ 'CONFIRM' | translate }}
        &nbsp;{{ 'NEW' | translate }}
        &nbsp;{{ 'PASSWORD' | translate }}
      </label>
      <input class="form-control"
        id="reEnter"
        name="reEnter"
        ng-model="vm.reEnter"
        type="password" />
    </div>
  </form>

  <button class="btn btn-primary"
    ng-click="vm.changePassword()">
    {{ 'CHANGE' | translate }} {{ 'PASSWORD' | translate }}
  </button>
</div>
