<div>
  <div class="profile change-password">
    <h4 class="h4">Change your password</h4>
    <form>
      <ul>
        <li>
          <span>{{ 'OLD' | translate }} {{ 'PASSWORD' | translate }}</span>
          <input class="form-control"
            id="oldPassword"
            name="oldPassword"
            ng-model="vm.oldPassword"
            type="password" />
        </li>

        <li>
          <span>{{ 'NEW' | translate }} {{ 'PASSWORD' | translate }}</span>
          <input class="form-control"
            id="newPassword"
            name="newPassword"
            ng-model="vm.newPassword"
            type="password" />
        </li>

        <li>
          <span>
            {{ 'CONFIRM' | translate }}
            &nbsp;{{ 'NEW' | translate }}
            &nbsp;{{ 'PASSWORD' | translate }}
          </span>
          <input class="form-control"
            id="reEnter"
            name="reEnter"
            ng-model="vm.reEnter"
            type="password" />
        </li>

        <li>
          <span></span>6 or more characters
        </li>

        <li>
          <span></span>
          <button class="btn btn-success"
            ng-click="vm.changePassword()">
            {{ 'CHANGE' | translate }} {{ 'PASSWORD' | translate }}
          </button>

          <div class="flt or"> &nbsp; &nbsp; Or</div>

          <a class="cancel-btn pull-right" href="#">Cancel</a>
        </li>
      </ul>
    </form> 
</div>
