@charset "utf-8";
/* CSS Document */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt'), url(http://fonts.gstatic.com/s/rokkitt/v8/Uu8b3yBtxQPmPTMr0WQ_CA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/rokkitt/v8/4Z-2qkHrI1biwaOxvW6ZTA.woff) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 600;
  src: local('Jura DemiBold'), local('Jura-DemiBold'), url(http://fonts.gstatic.com/s/jura/v7/sGgK78qWBznL37N2OdMZiA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/jura/v7/BHJNeCKqnHf7vEZJqPHjnQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(http://fonts.gstatic.com/s/patuaone/v6/yAXhog6uK3bd3OwBILv_SFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/patuaone/v6/yAXhog6uK3bd3OwBILv_SD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


a{ outline:0 none}
ul,li{ list-style:none; padding:0; }
.flt{ float:left;}

.page .logo{ position:relative;bottom:10px;z-index:9999; height:1px;}

ul.top-menu{ padding:0; float:right}
ul.top-menu li{ list-style:none; display:inline; margin-left:0px;}
ul.top-menu li a{ display:inline-block; font-size:14px; color:#636363; border-right:#575757 solid 1px; line-height:12px;padding-right:20px;
 }
ul.top-menu li:last-child a{  border-right:#575757 solid 0px;padding-right:0px;}

ul.top-menu li a:hover,ul.top-menu li a:focus{ background:none !important; color:#000;}

a.language{ margin-right:55px; color:#333; text-decoration:none; background:url(../images/lang-icon.jpg) no-repeat left center; padding-left:22px;}
a.sign-in { display:inline; padding:8px 14px 10px; background:#f03433;}


ul.media-top{ margin-bottom:10px; display:inline-block;}
ul.media-top li{ list-style:none; display:inline-block; float:left; margin-left:3px;}
ul.media-top li.callnow{ float:left;}
ul.media-top li a{ display:inline-block; height:40px;width:39px;}
ul.media-top li a:hover{ opacity:0.8;}

ul.media-top li a.fb{ background:url(../images/media-icon.png) no-repeat 0 0;}
ul.media-top li a.twt{ background:url(../images/media-icon.png) no-repeat -41px 0;}
ul.media-top li a.pin{ background:url(../images/media-icon.png) no-repeat -81px 0;}
ul.media-top li a.rss{ background:url(../images/media-icon.png) no-repeat -121px 0;}

ul.media-top li a.signout{background-image:-webkit-linear-gradient(top, #edebeb 0, #ffffff 100%);
	background-image:linear-gradient(to bottom, #ffffff 0, #edebeb 100%);
	background-repeat:repeat-x;
	border-color:#ffffff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffedebeb', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
 font-size:14px; color:#5b5b5b; text-transform:uppercase;font-family: 'Roboto'; width:80px !important; text-align:center; border:#cdcdcd solid 1px;height: 27px !important;
    margin-top:6px; margin-left:25px; outline:none;text-decoration:none;}

ul.media-top li a:hover.signout{ text-decoration:none;}
.callnow {
    color: #999999;
    font-family: "Rokkitt";
    font-size: 24px;
    letter-spacing: 1px;
    padding: 11px 22px 5px 0;
    text-align: center;
}

.home-section-article{ clear:both; background:url(../images/plus-m.png) no-repeat center 165px; box-shadow:0 0 6px #ccc;}

.home-section-article .article { text-align:center;  margin:40px 0 20px;}
.home-section-article .article h3{ text-transform:uppercase; color:#545454;font-family: 'Jura'; font-weight:600; text-decoration:none;}
.home-section-article .article p{ color:#848484; padding:0 15px;}
.home-section-article .article img{ width:100%;max-width:124px;}
.home-section-article .article a.readmore{ margin:15px 0; display:inline-block; color:#fff; padding:8px 12px; border-radius:5px;
background:#0197d4;text-decoration:none;cursor:pointer;}

.home-section-article .article img:hover,.home-section-article .article h3:hover{ text-decoration:none; color:#666; opacity:0.8;cursor:pointer;}
.home-section-article .article a.readmore:hover,.home-section-article .article a:hover{ background:#999; text-decoration:none !important; cursor:pointer;}




/******************* footer *********************/
footer{ width:100%; float:left; background:#1b4a74; color:#d1dbe3;}

.testimonial{ background:url(../images/btm-sep.png) no-repeat left 30px,url(../images/btm-sep.png) no-repeat right 30px; padding:0 100px; width:490px;}
.quicklinks h4,.testimonial h4,.contact h4{color:#fff; border-bottom:1px solid #889fb4; padding-bottom:15px;  font-family: 'Open Sans'; font-weight:400; text-transform:uppercase; font-size:20px; padding-top:20px;}
.quicklinks,.contact{ width:220px;}
.quicklinks{ padding-left:30px;}
.quicklinks ul{ padding:0px; margin:0;}
.quicklinks li{list-style:none;}
.quicklinks a{color:#fff;}
.testimonial p{color:#d1dbe3; font-style: italic;}
.testimonial a.name{ float:right; color:#fff;}

.copyright,.copyright p{ color:#fff; font-size:12px;}
.copyright{ border-top:1px solid #889fb4; padding:15px 0 5px; margin-top:15px;}
.copyright a{ color:#fff;}
.copyright a:hover{}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.closed{ background:url(../images/closed.png) no-repeat; width:14px; height:14px; float:right; position:relative;}

ul.social-media{ width:290px; float:right; margin:0 0 0 30px; padding:0 0 0 35px;background:url(../images/divider-line.jpg) no-repeat left center;}
ul.social-media li{ list-style:none; line-height:normal; margin-bottom:10px; font-size:16px;}
ul.social-media li a{ display:block;  padding:18px; width:252px; height:54px; margin-bottom:6px;}
ul.social-media li a.fb{ background:url(../images/login-fb.png) no-repeat ;}
ul.social-media li a.twt{ background:url(../images/login-twt.png) no-repeat ;}


/**************** Inner page ********************/
.white{ background:#fff; padding:30px 15px 15px; margin:0 auto; width:97%; border:#dcdbdb solid 1px;}
.inner{ background:#f6f6f6; padding:20px 0; margin-bottom:30px; float:left;}
.inner h2{ color:#000; text-align:center; font-size:18px;font-family: 'Roboto';}

.rightbar { background:#f6f6f6; padding:15px;}
.right-bg{background:#f6f6f6; padding:0;}

.rightbar{ float:right; width:100%;padding:0;}
.rightbar .guider{ padding-bottom:20px;}
.rightbar .guider h3{ color:#5b5b5b; text-align:center; font-weight:400; font-size:18px;font-family: 'Roboto'; padding-top:15px;  }

.rightbar .reader{ background:url(../images/guider-icon.png) no-repeat center center; height:150px; width:190px; margin:0 auto; padding-top:55px;display: block;}
.rightbar .reader h3{ color:#fff; text-align:center; margin:0; font-weight:700; font-size:18px; padding:0 25px; }

.tab-content{ float:left; width:100%; background:#fff; padding:15px;border:#dcdbdb solid 1px;}

.form-control{  padding:3px; border-radius:0; box-shadow:0 4px 5px rgba(0, 0, 0, 0.090) inset;}

.checkbox { margin:5px 20px 5px 0}
.checkbox input[type="checkbox"]{float: right; margin-right:-20px;}
.checkbox .form-control{ height:30px; }

.tophead {border-bottom:#c9c9c9 solid 1px; margin-bottom:20px; padding-bottom:10px; float:left; width:100%;}
.tophead h4{ color:#000;font-family: 'Roboto'; font-weight:400; float:left; border:none !important; padding:10px 10px 0; margin:0;}
.tophead ul.list-inline{ float:right; margin-bottom:0;}

ul.list-notificatons{ clear:both;}
ul.list-notificatons li a{ display:inline;padding-right:20px;}
ul.list-notificatons li p{ width:83%; display:inline;}

ul.list-notificatons li{ list-style:none; background:#e3e3e3; padding:10px; margin-bottom:4px; text-align:left;}
ul.list-notificatons li span{ float:right; background:url(../images/menu-tick.png) no-repeat left 3px; padding-left:30px;margin-left: 20px;}
ul.list-notificatons li:hover span,ul.list-notificatons li.active span{background:url(../images/menu-tick.png) no-repeat left -16px;}
ul.list-notificatons li:hover img{ opacity:0.7;}

.or{ padding:8px; color:#000; font-size:16px;}

.rightbar-menu{ clear:both; }
#booking p{ padding:15px; background:#f6f6f6;font-family: 'Roboto'; font-size:14px;}
/********booking******************/



/********Accordian******************/

	
 .accordion { clear:both; width: 100%; background-color: #EDEDED;}
  .accordion .closed{ height:100%;}
.accordion .accordion-head {color: #fff;
    background-color: #ccc;
    border-bottom: 1px solid #fff;
    position: relative;
    padding:0 10px;
    font-size: 0.87em;
    cursor: pointer;
    overflow: hidden; width:100%;
	
	background-image:-webkit-linear-gradient(top, #edebeb 0, #ffffff 100%);
	background-image:linear-gradient(to bottom, #ffffff 0, #edebeb 100%);
	background-repeat:repeat-x;
	border-color:#ffffff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffedebeb', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.accordion .accordion-head * {cursor: pointer;}
.accordion .accordion-head h5 {float: left; text-transform:uppercase; color:#5b5b5b;}
.accordion .accordion-head:hover { filter: alpha(opacity=80);background-color:#63a23a; opacity: 0.80;}
.accordion .accordion-body {
    border-bottom: 1px solid #fff;
    padding: 20px;
    height: auto;
    display: none;box-shadow: 0 10px 5px #cccccc inset;
}
.arrow {float: right;width:26px;height:22px;margin-top: 23px; margin-top:0;background:url(../images/menu-arr-up.png) no-repeat right 8px;border-left: 1px solid #edebec;}
.accordion-head.open .arrow {color:#f00; background:url(../images/menu-arr-down.png) no-repeat right bottom;}
.tick{float: left;  width:17px; height: 18px;background:url(../images/menu-tick.png) no-repeat left top; padding-right:30px; margin-top:10px;}
.accordion-head.open .tick {  margin-top: 11px; background:url(../images/menu-tick.png) no-repeat left bottom;
}
.accordion-head.open h5{ color:#999;}

#booking img{ width:100%;}
.booking-section{}
.booking-section h4{font-family: 'Roboto'; text-transform:uppercase; color:#18a1d9;}

ul.booking-search{ padding:15px 7px; border:1px solid #dddddd; margin-bottom:-1px;}
ul.booking-search li{ display:inline-block; margin-bottom:10px; width:auto; vertical-align:bottom; margin-right:10px;}
ul.booking-search li h5{ color:#000; font-size:14px; margin-bottom:7px;}
ul.booking-search li h5 span{color:#606060; }
ul.booking-search li .s-t{color:#0197d4;}
ul.booking-search li select,ul.booking-search li input[type="text"]{ width:224px;border-radius: 6px; box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.09) inset;}

ul.booking-search li.li-3 select{ width:320px; color:#000;}

ul.booking-search li label{ margin-bottom:0;}
ul.booking-search li:last-child{ margin-right:0;}
/**
 * We don't really need to override bootstrap default style.
 * .btn-success,.btn-primary{ font-size:18px; font-family:'Roboto'; font-weight:500; border:none;border-radius:7px; padding:4px 20px;}
 **/
ul.booking-search .btn-primary{ background:#0197d4; }
ul.booking-search .btn-primary:hover{ background:#0081be; }


.booking-search label:before { background:transparent;}
.booking-search label:after {
    content: "▾";
    font:24px "Consolas", monospace;
    color:#7b7b7b;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    right:5px; top:0px;
    padding:3px 5px;
    border-left:0px solid #ddd;
    position:absolute;
    pointer-events:none;
}

.lefttable{  padding:40px 15px; text-align:left;}
.lefttable:hover{background:#f5f4f4;}
.lefttable p{ color:#666666; font-size:14px;}
.lefttable img{ border:#d4d3d3 solid 1px; margin-right:15px;}

table{border: 1px solid #dddddd;}
.table > thead > tr > th{ vertical-align:middle; color:#fff; background:#1b4a74}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border: 1px solid #dddddd;}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{ text-align:center; padding:0; vertical-align:middle; height:45px; color:#18a1d9;font-family: 'Roboto'; font-weight:400; font-size:18px;}
.table-striped > tbody > tr:nth-child(2n+1) > td{}
.table-striped > tbody > tr:nth-child(2n+1) > th{ }
td.tcbg{
font-family: 'Roboto'; font-weight:400; font-size:18px;
}
td.more,td.tcbg:hover{
	background-image:-webkit-linear-gradient(top, #679a18 0, #81be22 100%);
	background-image:linear-gradient(to bottom, #679a18 0, #81be22 100%);
	background-repeat:repeat-x;
	border-color:#68b968;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff679a18', endColorstr='#ff81be22', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);

 color:#fff !important;	
}


@media (min-width:768px) and (max-width:1199px) {
.accordion .accordion-head h5{ font-size:12px;}
.lefttable{ padding:0 10px;}


}
@media (min-width:992px) and (max-width:1199px) {
}

@media (min-width:768px) and (max-width:992px) {
.user-section-article .article .description{ width:84% }

a.sign-in{ display:inline-block; margin:10px 0;}
.testimonial{ padding:0 15px; width:275px;}


ul.top-menu li a{ padding:8px !important; margin:0;border:none; border-bottom:#fff dotted 1px; display:block;}
ul.top-menu li a:hover{ background:#4998db !important; color:#fff !important; border:none;}
ul.top-menu li {
    display: block;
    float: none;
    list-style: outside none none;
    margin-left: 0;
    width: 100%;
}
ul.top-menu{ width:100%; float:right; text-align:center; }
}

@media (min-width:40px) and (max-width:767px) {
ul.top-menu li{ text-align:center; display:block;}
ul.top-menu li a{ border:none; font-size:14px; margin:10px 0;}

ul.top-menu{ margin-bottom:30px;}
ul.top-menu li:last-child a{ padding-right:15px;}

.user-section-article .article{ width:auto;}

ul.top-menu li a{ padding:8px !important; margin:0; border-bottom:#fff dotted 1px; display:block;}
ul.top-menu li a:hover{ background:#4998db !important; color:#fff !important; border:none;}

ul.footer-menu { margin: 0 auto; padding: 0; text-align: center;}
.copyright, .copyright p{ text-align:center;  margin-top: 10px;}
ul.footer-menu li a{ display:inline;}
ul.footer-menu li:last-child a{ margin-right:-15px;}

ul.media-top { margin: 0 7%; padding: 0; text-align: center; width: 100%;}

.page .logo{ position:static; height:100%}
.logo{ height:100%; padding-bottom:5px}
.logo img{ width:150px;}

.quicklinks, .contact,.testimonial{ width:auto; padding:0; text-align:center}
.testimonial,.home-section-article{ background:none;}
ul.media-top li.callnow{ padding-top:10px;}
ul.media-top{ text-align:right;}

ul.top-menu{ float:none; width:90%; margin:0 auto;}

ul.media-top{ margin:0;}
.quicklinks h4, .testimonial h4, .contact h4{ clear:both}
}
@media (min-width:200px) and (max-width:639px) {

}
@media (min-width:200px) and (max-width:479px) {
ul.media-top{ text-align:center; margin:0;}
ul.media-top li.callnow{ float:none; width:100%; clear:both; display:inline-block; margin-bottom:10px;}

.rightbar { padding:5px}
.tophead h4{ padding:10px}
.pagination > li > a, .pagination > li > span{ font-size:14px; padding:6px 12px;}
ul.media-top li a.signout{margin-left: 10px;}
ul.media-top li{ float:none;}
ul.booking-search li.li-3 select{ width:220px;}
}

/* Hide spin button of input box. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
