@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/navs.less";

// Override bootstrap styles but using different class name
// to avoid naming conflict.
.nav-dashboard {
  .nav
}

.nav-dashboard > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important
}

.nav-tabs-dashboard {
  .nav-tabs;
}

.nav-tabs-dashboard > li {
  width:20%;
  text-align:center;
}

.nav-tabs-dashboard > li > a {
  background: #0197d4;
  color: #fff;
  font-size: 18px;
  padding: 5px 15px !important;
}

.nav-tabs-dashboard > li > a:hover {
  background: #fff;
  color: #333;
  border: #dcdbdb solid 1px;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

.dashboard-div {
  padding: 5px 0px 5px 0px;
  font-family: 'Roboto';
  font-size: 15px;
}

.dashboard-div-center {
  .dashboard-div;
  text-align: center;
}

.club-name {
  .dashboard-div;
  font-size: 25px;
}

.facility-name {
  .dashboard-div;
  font-size: 18px;
}

.price {
  .dashboard-div;
  font-size: 22px;
}

.booking-day {
  .dashboard-div-center;
  font-weight: 800;
  font-size: 45px;
}

.booking-year {
  .dashboard-div-center;
  font-weight: 600;
}

.booking-time {
  .dashboard-div-center;
  font-weight: 600;
  padding-top: 0px;
}

.booking-dow {
  .dashboard-div-center;
  padding-top: 0px;
  font-style: italic;
}

.dotted-border-right {
  border-style: none dotted none none;
  border-width: 1px;
}

.booking-hr {
  border-style: none none dotted none;
  border-width: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pull-left {
  float: left;
}

.booking-item-list {
  padding: 0px 10px 0px 10px;
}

.booking-item {
  border-style: solid solid solid solid;
  border-width: 1px;
  border-color: #ccc;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
}

.no-round-corner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.dashboard-tip {
  .dashboard-div;
  color: #009900;
}
