@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/navs.less";
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/mixins/gradients.less";
@import "variables.less";

/**
 * General styles.
 */
body {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 22px;
  color: #666;

  // Make space for bootstrap navbar.
  padding-top: 130px;
}

.centered {
  width: 200px;
  margin: 10px auto;
}

.big-fa-icon {
  font-size: 200px;
}

.absolute-pos {
  position: absolute;
}

.dotted-border-right {
  border-style: none dotted none none;
  border-width: 1px;
}

.dotted-border-left {
  border-style: none none none dotted;
  border-width: 1px;
}

.dotted-border {
  border-style: dotted dotted dotted dotted;
  border-width: 1px;
}

.hr {
  margin-bottom: 20px;
  border-bottom: #c9c9c9 solid 1px;
  padding-bottom: 10px;
  color: #000;
  width: 100%;
  float: left;
}

.dashboard-hr {
  border-style: none none dotted none;
  border-width: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.border-shadow {
  box-shadow: 0 0 10px #46B0D3;
}

.top-spacer-sm {
  margin-top: 10px;
}

.top-spacer-md {
  margin-top: 18px;
}

.bottom-spacer-sm {
  margin-bottom: 10px;
}

.bottom-spacer-md {
  margin-bottom: 18px;
}

.font-roboto(@size: 16px; @weight: 400; @style: normal) {
  font-family: "Roboto";
  font-size: @size;
  font-weight: @weight;
  font-style: @style;
}

.scrollable {
  overflow: auto;
}

.label-as-badge {
  border-radius: 1em;
}

/**
 * Bootstrap styles overrrides
 */
.modal {
  &.center {
    .modal-dialog {
      position: fixed;
      top: 40%;
      left: 50%;
      min-width: 320px;
      max-width: 630px;
      width: 50%;
      transform: translateX(-50%) translateY(-50%);

      &.large {
        max-width: 1000px;
        width: 80%;
      }
    }
  }

  .footer-btn {
    .pull-right;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.nav-dashboard {
  .nav
}

.nav-dashboard > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important
}

.nav-tabs-dashboard {
  .nav-tabs;
}

.nav-tabs-dashboard > li {
  text-align:center;
}

.nav-tabs-dashboard > li > a {
  background: #0197d4;
  color: #fff;
  font-size: 18px;
  padding: 5px 15px !important;
}

.nav-tabs-dashboard > li > a:hover {
  background: #fff;
  color: #333;
  border: #dcdbdb solid 1px;
}

// 5 tabs in a row.
.nav-tabs-width-5 > li {
  width: 20%;
}

// 6 tabs in a row.
.nav-tabs-width-6 > li {
  width: 16.66%;
}

// 7 tabs in a row.
.nav-tabs-width-7 > li {
  width: 14.25%;
}

/**
 * Angular Strap datepicker style.
 */
.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

/**
 * Home page styles.
 */
.banner img {
  width: 100%;
}

.banner-content {
  .font-roboto;
  background: @trans-black;
  padding: 20px 40px;
  color: #fff;
  width: 650px;

  position: absolute;
  top: 45%;
  left: 47%;

  h1 {
    .font-roboto(38px, 500);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.footer {
  width: 100%;
  float: left;
  background: #1b4a74;
  color: #d1dbe3;
}

.shadow {
  box-shadow: 0 0 8px #999;
}

.logo {
  z-index: 9999;
  position: relative;

  img {
    border:#fff solid 4px;
    border-radius:100%;
    max-width:150px;
    width:80%;
  }
}

/**
 * Dashboard styles.
 */
.dashboard-inner{
  box-shadow: 0 0 10px #666;
  background: #f6f6f6;
  margin-top: 30px;
  padding: 15px;
  margin-bottom: 30px;
}

.dashboard-div {
  padding: 5px 0px 5px 0px;
  font-family: 'Roboto';
  font-size: 15px;
}

.dashboard-div-center {
  .dashboard-div;
  text-align: center;
}

.dashboard-thumbnail {
  margin: 0px 0px 0px 20px;
  background: #f6f6f6;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.club-name {
  .dashboard-div;
  font-size: 25px;
}

.facility-name {
  .dashboard-div;
  font-size: 18px;
}

.price {
  .dashboard-div;
  font-size: 22px;
}

.dashboard-day {
  .dashboard-div-center;
  font-weight: 800;
  font-size: 45px;
}

.dashboard-year {
  .dashboard-div-center;
  font-weight: 600;
}

.dashboard-time {
  .dashboard-div-center;
  font-weight: 600;
  padding-top: 0px;
}

.dashboard-dow {
  .dashboard-div-center;
  padding-top: 0px;
  font-style: italic;
}


.pull-left {
  float: left;
}

.dashboard-item-list {
  padding: 0px 10px 0px 10px;
}

.dashboard-item {
  border-style: solid solid solid solid;
  border-width: 1px;
  border-color: #ccc;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
}

.no-round-corner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.dashboard-tip {
  .dashboard-div;
  color: #009900;
  font-weight: bold;
}

.dashboard-address {
  .dashboard-div;
  font-size: 12px;
}

.btn-file {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.disabled {
  z-index: 1000;
  background-color: lightgrey;
  opacity: 0.6;
  pointer-events: none;
}

.dashboard-title {
  border-bottom: #c9c9c9 solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #000;
  font-family: 'Roboto';
  font-weight: 400;
}

.password-weak {
  font-weight: bold;
  color: #ff5b5b;
}

.password-good {
  font-weight: bold;
  color: #46b0d3;
}

.password-strong {
  font-weight: bold;
  color: #009900;
}

.tab-content-header {
  border-bottom: #c9c9c9 solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #000;
  font-family: 'Roboto';
  font-weight: 400;
}

.left-vertical-hr {
  display: inline-block;
  border-left: #ccc solid 1px;
  padding-left: 30px;
  margin-left: 30px;
}

.gray-btn {
  .font-roboto;
  .left-vertical-hr;
  margin-left: 0px;
  font-size: 14px;
  color: #7d7d7d;
  width: 80px;
  height: 37px;
  padding-top: 7px;
}

.dashboard-btn {
  width: 100px;
}

.dashboard-content {
  padding: 0px 20px 10px 20px;
}

.dashboard-links {
  .font-roboto;
  font-size: 14px;
  color: #696969;
  display: inline-block;

  .a {
    color: #119ed8;
  }
}

.profile-deactivate {
  .dashboard-links;
  margin-top: 40%;
  margin-right: 30px;
}

.club-deactivate {
  .dashboard-links;
  margin-right: 30px;
}

.dashboard-panel-header {
  #gradient > .vertical(#12A1DB; #0784B7);
  .font-roboto;
  border: #ccc solid 1px;
  color: #fff;
  padding: 15px;
}

.club-photo-table {
  .scrollable;
  max-height: 500px;
}

.club-photo-container {
  position: relative;
  width: 100%;
  height: 240px;
  padding: 10px 0px 10px 0px;

  &:hover {
    .boxclose {
      display: inline-block;
    }

    img {
      .border-shadow;
    }
  }

  img {
    display: block;
    width: 98%;
    height: 220px;
  }
}

a.boxclose {
    position: absolute;
    float: right;
    cursor: pointer;
    display: none;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 50%;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    line-height: 0px;
    padding: 11px 3px;
    left: 96%;
    margin: -10px;

    &:before {
      content: "x";
    }

    &:hover {
      text-decoration: none;
    }
}

.notification {
  .font-roboto(16px, 600);
  background: #E3E3E3;
  padding: 0px 10px 0px 10px;
  margin: 5px 0px 5px 0px;
  height: 50px;
  line-height: 50px;

  &.has-read {
    .font-roboto(16px, 400);
  }

  button {
    margin-top: 10px;
    margin-left: 10px;
  }

  .content {
    .font-roboto(14px);
  }
}

.dropdown-menu {
  .item {
    padding-left: 15px;
  }
}

.search-box {
  margin-bottom: 20px;
  input[type=button] {
    font-size: 16px;
    margin-right: 20px;
  }
}

.scroll{ overflow-y:auto; display:block; margin-bottom:15px;}

.link-active {
  color: gray;
  cursor: default !important;

  a:hover {
    text-decoration: none;
  }
}

*[ng-click]{
  cursor: pointer;
}

.tcbg {
  a {
    color: white;
  }
}
