<div class="row">
  <div class="col-xs-12">
    <h4 class="tab-content-header text-capitalize">
      {{ 'FACILITY_OF_CLUB' | translate }} ({{ vm.club.name }})
      <a ng-click="vm.createFacility()" class="left-vertical-hr">
        <i class="fa fa-plus"></i>
        {{ 'NEW' | translate }}
      </a>
    </h4>

    <div class="dashboard-item-list" ng-repeat="facility in vm.facilities">
      <club-facility-item facility="facility"></club-facility-item>
    </div>
    <div ng-show="vm.facilities.length == 0">
      {{ 'CLUB_NO_FACILITIES' | translate }}
    </div>
  </div>
</div>
