<div class="row booking-item">
  <div class="col-md-3">
    <img class="img-thumbnail pull-right"
      ng-src="{{ vm.clubImg }}"
      style="width: 150px; height: 170px" />
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="club-name">
        <a ng-click="">{{ vm.event.club.name }}</a>
      </div>

      <div class="booking-hr"></div>

      <div class="facility-name">
        <a ng-click="">{{ vm.event.name }}</a>
      </div>

      <div class="booking-hr"></div>

      <div class="dashboard-div">
        {{ vm.event.content }}
      </div>
    </div>

    <div class="row booking-hr"></div>

    <div class="row" ng-show="vm.hasCompleted != 'true'">
      <button class="btn btn-primary active no-round-corner"
        ng-click="vm.joinEvent(vm.event)"
        ng-if="!event.hasJoined">
        <i class="fa fa-gw fa-user-plus"></i>
        &nbsp;{{ 'JOIN' | translate }}
      </button>
      <button class="btn btn-danger active no-round-corner"
        ng-click="vm.quitEvent(vm.event)"
        ng-if="event.hasJoined">
        <i class="fa fa-gw fa-user-times"></i>
        &nbsp;{{ 'UNREGISTER' | translate }}
      </button>
    </div>

    <div class="row" ng-show="vm.hasCompleted == 'true'">
      <button type="button" class="btn btn-primary pull-left disabled no-round-corner">
        &nbsp;{{ 'EVENT_COMPLETED' | translate }}
      </button>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6 dotted-border-right">
        <div class="dashboard-div-center">
          {{ ('START' | translate).toUpperCase() }}
        </div>

        <div class="booking-day">
          {{ vm.startDay }}
        </div>

        <div class="booking-year">
          {{ vm.startMonth | translate }} {{ vm.startYear }}
        </div>

        <div class="booking-dow">
          {{ vm.startDow | translate }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-div-center">
          {{ ('END' | translate).toUpperCase() }}
        </div>

        <div class="booking-day">
          {{ vm.endDay }}
        </div>

        <div class="booking-year">
          {{ vm.endMonth | translate }} {{ vm.endYear }}
        </div>

        <div class="booking-dow">
          {{ vm.endDow | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
