<div ng-init="vm.showHistory = false">
  <div ng-show="!vm.showHistory">
    <h4>{{ vm.h.firstCharToUpperCase(('UPCOMING_EVENTS' | translate)) }}</h4>

    <div>
      {{ 'SHOW' | translate }}&nbsp;
      <a ng-click="vm.showHistory = true">{{ 'PAST_EVENTS' | translate }}</a>.
    </div>

    <div class="booking-item-list" ng-repeat="event in upcomingEvents=(vm.events | filterUpcomingEvents)">
      <member-event-item event="event" has-completed="false"></member-event-item>
    </div>
    <div ng-show="upcomingEvents.length == 0">
      {{ 'YOU_DONT_HAVE_ANY' | translate }} {{ 'UPCOMING_EVENTS' | translate }}
    </div>

    <h4>{{ vm.h.firstCharToUpperCase(('REGISTERED_EVENTS' | translate)) }}</h4>
    <div class="booking-item-list" ng-repeat="event in registeredEvents=(vm.events | filterRegisteredEvents)">
      <member-event-item event="event" has-completed="false"></member-event-item>
    </div>
    <div ng-show="registeredEvents.length == 0">
      {{ 'YOU_DONT_HAVE_ANY' | translate }} {{ 'REGISTERED_EVENTS' | translate }}
    </div>
  </div>

  <div ng-show="vm.showHistory">
    <h4>{{ vm.h.firstCharToUpperCase(('PAST_EVENTS' | translate)) }}</h4>

    <div>
      {{ 'SHOW' | translate }}&nbsp;
      <a ng-click="vm.showHistory = false">
        {{ 'UPCOMING_EVENTS' | translate }}
        {{ ('AND' | translate).toLowerCase() }}
        {{ 'REGISTERED_EVENTS' | translate }}
      </a>.
    </div>

    <div class="booking-item-list" ng-repeat="event in pastEvents=(vm.events | filterPastEvents)">
      <member-event-item event="event" has-completed="true"></member-event-item>
    </div>
    <div ng-show="pastEvents.length == 0">
      {{ 'YOU_DONT_HAVE_ANY' | translate }} {{ 'PAST_EVENTS' | translate }}
    </div>
  </div>

</div>
