<div class="row">
  <div class="col-xs-4 col-md-3" ng-repeat="photo in vm.photos">
    <div class="club-photo-container">
      <a class="boxclose"
        ng-bootbox-confirm="{{ 'REMOVE_PHOTO_CONFIRM' | translate }}"
        ng-bootbox-confirm-action="vm.removePhoto(photo)">
      </a>

      <img class="img-rounded" ng-src="{{ photo.url }}" />
    </div>
  </div>

  <div class="col-xs-4 col-md-3">
    <div class="centered">
      <a ng-click="vm.showUploadMgr()">
        <i class="fa fa-plus-square-o big-fa-icon"></i>
      </a>
    </div>
  </div>
</div>
