<div class="row dashboard-item">
  <div class="col-xs-7 col-xs-offset-1">
    <div class="row">
      <div class="club-name">
        <a ng-click="">{{ vm.event.name }}</a>
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-div">
        {{ vm.event.content }}
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-div" ng-show="vm.hasCompleted != 'true'">
        <div>
          <button class="btn btn-primary active no-round-corner pull-left text-capitalize"
            ng-click="vm.viewProfile()">
            <i class="fa fa-calendar"></i>
            &nbsp;{{ 'VIEW_OR_EDIT' | translate }}
          </button>
        </div>

        <div class="col-xs-4">
          <a class="gray-btn text-capitalize" ng-click="vm.remove()">
            {{ 'CANCEL' | translate }}
          </a>
        </div>
      </div>

      <div class="dashboard-div" ng-show="vm.hasCompleted == 'true'">
        <button type="button" class="btn btn-primary pull-left disabled no-round-corner">
          &nbsp;{{ 'EVENT_COMPLETED' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6 dotted-border-right">
        <div class="dashboard-div-center">
          {{ ('START' | translate).toUpperCase() }}
        </div>

        <div class="dashboard-day">
          {{ vm.startDay }}
        </div>

        <div class="dashboard-year">
          {{ vm.startMonth | translate }} {{ vm.startYear }}
        </div>

        <div class="dashboard-dow">
          {{ vm.startDow | translate }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-div-center">
          {{ ('END' | translate).toUpperCase() }}
        </div>

        <div class="dashboard-day">
          {{ vm.endDay }}
        </div>

        <div class="dashboard-year">
          {{ vm.endMonth | translate }} {{ vm.endYear }}
        </div>

        <div class="dashboard-dow">
          {{ vm.endDow | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
