<div>
  <h2>Members of Club {{ vm.selectedClub.name }}</h2>
  <div ng-repeat="membership in vm.memberships">
    {{ membership.member.email }}<br/>
    {{ membership.role }}<br/>
    <button ng-click="vm.removeMember(membership)">
      {{ 'REMOVE_MEMBER' | translate }}
    </button><br/>

    <div>
      <div class="form-group">
        <label>{{ 'CHANGE_ROLE' | translate }}</label>

        <select class="form-control"
          ng-model="membership.newRole">
          <option value="" selected>Please select</option>
          <option value="{{ vm.role.ADMIN }}">{{ 'ADMIN' | translate }}</option>
          <option value="{{ vm.role.PROFESSOR }}">{{ 'PROFESSOR' | translate }}</option>
          <option value="{{ vm.role.MEMBER }}">{{ 'MEMBER' | translate }}</option>
        </select>
      </div>
      <button ng-click="vm.changeRole(membership)">
        {{ 'UPDATE' | translate }}
      </button><br/>
      <hr/>
    </div>
  </div>
</div>
