<div>
  <page-header></page-header>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 dashboard-inner">
      <div class="search-box">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h5>
              Search By:
              <a ng-click="vm.selectType('facility')"
                ng-class="{'link-active': vm.selectedType == 'facility'}">
                Sport Type
              </a>

              &nbsp;|&nbsp;

              <a ng-click="vm.selectType('club_name')"
                ng-class="{'link-active': vm.selectedType == 'club_name'}">
                Club Name
              </a>
            </h5>
          </div>

          <div class="col-xs-12 col-md-3">
            <h5>Location <span>(Street, City, State)</span></h5>
          </div>

          <div class="col-xs-12 col-md-2">
            <h5>Country</h5>
          </div>

          <div class="col-xs-12 col-md-1">
            <h5>Date</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-3">
            <input class="form-control"
              type="text"
              ng-show="vm.selectedType == 'club'"
              ng-model="vm.keyword" />

            <select class="form-control"
              ng-show="vm.selectedType == 'facility'"
              ng-model="vm.selectedSport"
              ng-options="option.value as option.name for option in vm.sportOptions">
            </select>
          </div>

          <div class="col-xs-12 col-md-3">
            <input class="form-control"
              type="text"
              ng-model="vm.location" />
          </div>

          <!-- TODO - Make a country directive that can be used across the whole project. -->
          <div class="col-xs-12 col-md-2">
            <select class="form-control" ng-model="vm.country">
              <option value="AR">{{ 'AR' | translate }}</option>
              <option value="US">{{ 'USA' | translate }}</option>
              <option value="GB">{{ 'GB' | translate }}</option>
              <option value="IE">{{ 'IE' | translate }}</option>
            </select>
          </div>

          <div class="col-xs-12 col-md-1">
            <input class="form-control"
              ng-model="vm.selectedDate"
              type="text"
              placement="right"
              ng-keyup="vm.selectedDate = ''"
              bs-datepicker />
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="row">
              <input type="button"
                class="btn btn-info"
                value="Search"
                ng-click="vm.search()" />

              <input type="button"
                class="btn btn-success"
                value="Calendar Widget" />
            </div>
          </div>
        </div>
      </div>
      <!-- End of search box. -->

      <booking-dashboard-facility-table ng-if="vm.facilities !== undefined && vm.facilities.length > 0">
      </booking-dashboard-facility-table>

      <div class="scroll">
      </div>
      <!-- End of scroll -->

      <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next &nbsp; <img src="images/blue-arr.png"></a></li>
      </ul>
    </div>
    <!-- End of dashboard inner. -->
  </div>

  <page-footer></page-footer>
</div>
