<div>
  <h2>Facility Profile</h2>

  <form>
    <div class="form-group">
      <label>{{ 'NAME' | translate }}</label>
      <input class="form-control"
        id="name"
        name="name"
        ng-model="vm.facility.name" />
    </div>

    <div class="form-group">
      <label>{{ 'SPORT_TYPE' | translate }}</label>

      <select class="form-control"
        ng-model="vm.facility.sport_type">
        <option value="" selected>Please select</option>
        <!-- TODO - Remove hard coding. -->
        <option value="T">{{ 'TENNIS' | translate }}</option>
        <option value="G">{{ 'PING_PONG' | translate }}</option>
        <option value="D">{{ 'PADDLE' | translate }}</option>
        <option value="B">{{ 'BADMINTON' | translate }}</option>
        <option value="S">{{ 'SQUASH' | translate }}</option>
        <option value="F5">{{ 'FOOTBALL_5' | translate }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ 'STATUS' | translate }}</label>

      <select class="form-control"
        ng-model="vm.facility.status">
        <option value="" selected>Please select</option>
        <!-- TODO - Remove hard coding. -->
        <option value="A">{{ 'ACTIVE' | translate }}</option>
        <option value="I">{{ 'INACTIVE' | translate }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ 'DESCRIPTION' | translate }}</label>
      <input class="form-control"
        id="description"
        name="description"
        ng-model="vm.facility.description" />
    </div>
  </form>

  <p>Split update/create new functions into two pages, containing the same form.</p>
  <button ng-click="vm.update()">Update</button>
  <button ng-click="vm.create()">Create New</button>
  <button ng-click="vm.remove()">Delete</button>
</div>
