<div>
  <div>
    <form>
      <div class="form-group">
        <label>{{ 'INVITE_PEOPLE' | translate }}</label>
        <input class="form-control" id="email" name="email" ng-model="vm.inviteEmail" />
      </div>

      <div class="form-group">
        <label>{{ 'CONTENT' | translate }}</label>
        <input class="form-control" id="content" name="content" ng-model="vm.content" />
      </div>
    </form>
    <button ng-click="vm.sendMembershipRequest()">Invite</button>
  </div>
  <div ng-repeat="mq in vm.mqs">
    {{ mq.club.name }}<br/>
    {{ mq.member.email }}<br/>
    {{ mq.request_type }}<br/>
    {{ mq.status }}<br/>
    {{ mq.content }}<br/>
    <button ng-if="mq.request_type == vm.mqType.MEMBER_REQUEST && mq.status == vm.mqStatus.PENDING"
      ng-click="vm.acceptRequest(mq)">
      Accept
    </button>
  </div>
</div>
