<div>
  <form class="form-horizontal" name="form" novalidate>
    <fieldset ng-disabled="vm.stu.isUpdatting()">
      <div class="form-group">
        <label class="col-xs-3 control-label text-capitalize">
          {{ 'BOOKING' | translate }} {{ 'DATE' | translate }}
        </label>

        <div class="col-xs-9">
          <input class="form-control"
            id="bookingDate"
            name="bookingDate"
            ng-model="vm.booking.booking_date"
            ng-keyup="vm.booking.booking_date = ''"
            bs-datepicker />
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label text-capitalize">
          {{ 'BOOKING' | translate }} {{ 'TIMESLOT' | translate }}
        </label>

        <div class="col-xs-9">
          <input class="form-control"
            id="bookingTimeslot"
            name="bookingTimeslot"
            ng-model="vm.booking.booking_timeslot" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label text-capitalize">
          {{ 'DURATION' | translate }}
        </label>

        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-6">
              <input class="form-control"
                id="duration"
                name="duration"
                ng-model="vm.booking.duration" />
            </div>
            <div class="col-xs-6">
              <select class="form-control"
                ng-model="vm.booking.time_unit">
                <option value="" selected>Please select</option>
                <!-- TODO - Remove hard coding. -->
                <option value="M">{{ 'MINUTE' | translate }}</option>
                <option value="H">{{ 'HOUR' | translate }}</option>
                <option value="D">{{ 'DAY' | translate }}</option>
                <option value="N">{{ 'MONTH' | translate }}</option>
                <option value="Y">{{ 'YEAR' | translate }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label text-capitalize">
          {{ 'NOTES' | translate }}
        </label>

        <div class="col-xs-9">
          <textarea class="form-control"
            id="notes"
            name="notes"
            rows="3"
            ng-model="vm.booking.notes" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label text-capitalize">
          {{ 'NUM_OF_BOOKING' | translate }}
        </label>

        <div class="col-xs-9">
          <select class="form-control"
            id="numOfBooking"
            name="numOfBooking"
            ng-model="vm.booking.num_of_booking"
            ng-options="n for n in [] | range:1:vm.booking.maxAllowedPeople">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label text-capitalize">
          {{ 'RATE' | translate }}
        </label>

        <div class="col-xs-9 form-control-static">
          {{ vm.booking.rate | isoCurrency:vm.booking.currency }}
        </div>
      </div>
    </fieldset>
  </form>
</div>
