<div>
  <h2>
    <a class="btn btn-default" ng-click="vm.unselectBooking()">
      <i class="fa fa-arrow-left"></i>
    </a>
    Booking Profile
  </h2>
  <p>Use pre-defined rules.</p>

  <form>
    <div class="form-group">
      <label>{{ 'BOOKING_DATE' | translate }}</label>
      <input class="form-control"
        id="bookingDate"
        name="bookingDate"
        ng-model="vm.sharedProperties.selectedBooking.booking_date"
        bs-datepicker />
    </div>

    <div class="form-group">
      <label>{{ 'BOOKING_TIMESLOT' | translate }}</label>
      <input class="form-control"
        id="bookingTimeslot"
        name="bookingTimeslot"
        ng-model="vm.sharedProperties.selectedBooking.booking_timeslot" />
    </div>

    <div class="form-group">
      <label>{{ 'TIME_UNIT' | translate }}</label>
      <select class="form-control"
        ng-model="vm.sharedProperties.selectedBooking.time_unit">
        <option value="" selected>Please select</option>
        <!-- TODO - Remove hard coding. -->
        <option value="M">{{ 'MINUTE' | translate }}</option>
        <option value="H">{{ 'HOUR' | translate }}</option>
        <option value="D">{{ 'DAY' | translate }}</option>
        <option value="N">{{ 'MONTH' | translate }}</option>
        <option value="Y">{{ 'YEAR' | translate }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ 'DURATION' | translate }}</label>
      <input class="form-control"
        id="duration"
        name="duration"
        ng-model="vm.sharedProperties.selectedBooking.duration" />
    </div>

    <div class="form-group">
      <label>{{ 'NOTES' | translate }}</label>
      <input class="form-control"
        id="notes"
        name="notes"
        ng-model="vm.sharedProperties.selectedBooking.notes" />
    </div>

    <div class="form-group">
      <label>{{ 'NUM_OF_BOOKING' | translate }}</label>
      <input class="form-control"
        id="numOfBooking"
        name="numOfBooking"
        ng-model="vm.sharedProperties.selectedBooking.num_of_booking" />
    </div>

    <div class="form-group">
      <label>{{ 'RATE' | translate }}</label>
      <input class="form-control"
        id="rate"
        name="rate"
        ng-model="vm.sharedProperties.selectedBooking.rate" />
    </div>

    <div class="form-group">
      <label>{{ 'CURRENCY' | translate }}</label>
      <input class="form-control"
        id="currency"
        name="currency"
        ng-model="vm.sharedProperties.selectedBooking.currency" />
    </div>
  </form>

  <button class="btn btn-primary"
    ng-click="vm.update()">
    <i class="fa fa-gw fa-refresh"></i>
    &nbsp;Update
  </button>
  &nbsp; &nbsp;
  <button class="btn btn-danger"
    ng-click="vm.remove()">
    <i class="fa fa-gw fa-trash"></i>
    &nbsp;Cancel
  </button>
</div>
