<div class="row dashboard-item">
  <div class="col-xs-3 col-md-2">
    <img class="img-thumbnail pull-right"
      ng-src="{{ vm.avatarSrc }}"
      style="width: 150px; height: 170px" />
  </div>

  <div class="col-xs-5 col-md-6">
    <div class="row">
      <div class="club-name text-capitalize">
        <a ng-click="">{{ vm.member.first_name + ' ' + vm.member.last_name }}</a>

        <span ng-if="vm.member.email == vm.loginMember.email" class="badge active text-capitalize">
          {{ 'IT_IS_YOU' | translate }}
        </span>
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-tip" ng-show="vm.membership.role == 'A'">
        <i class="fa fa-wrench fa-fw"></i>
        &nbsp;{{ 'ADMIN' | translate }}
      </div>
      <div class="dashboard-tip" ng-show="vm.membership.role == 'P'">
        <i class="fa fa-graduation-cap fa-fw"></i>
        &nbsp;{{ 'PROFESSOR' | translate }}
      </div>
      <div class="dashboard-tip" ng-show="vm.membership.role == 'M'">
        <i class="fa fa-user fa-fw"></i>
        &nbsp;{{ 'MEMBER' | translate }}
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-address">
        <i class="fa fa-envelope fa-fw"></i>
        &nbsp;{{ vm.member.email }}
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-address">
        <i class="fa fa-phone-square fa-fw"></i>
        &nbsp;{{ vm.member.landline === undefined ? ('NA' | translate) : vm.member.landline }}
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-address">
        <i class="fa fa-tablet fa-fw"></i>
        &nbsp;{{ vm.member.cellphone === undefined ? ('NA' | translate) : vm.member.cellphone }}
      </div>
    </div>
  </div>

  <div class="col-xs-4" ng-if="vm.member.email != vm.loginMember.email">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <button class="btn btn-block btn-primary active no-round-corner text-capitalize"
          ng-click="vm.showProfile()">
          {{ 'VIEW_MEMBER' | translate }}
        </button>

        <div class="btn-group btn-block">
          <button class="btn btn-block btn-primary active no-round-corner text-capitalize dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{ 'CHANGE_ROLE' | translate }} <span class="caret"></span>
          </button>

          <ul class="dropdown-menu btn-block">
            <li>
              <a ng-click="vm.changeRole('M')" ng-show="vm.membership.role != 'M'">
                <i class="fa fa-user fa-fw"></i>
                &nbsp;{{ 'MEMBER' | translate }}
              </a>
            </li>

            <li>
              <a ng-click="vm.changeRole('P')" ng-show="vm.membership.role != 'P'">
                <i class="fa fa-graduation-cap fa-fw"></i>
                &nbsp;{{ 'PROFESSOR' | translate }}
              </a>
            </li>

            <li>
              <a ng-click="vm.changeRole('A')" ng-show="vm.membership.role != 'A'">
                <i class="fa fa-wrench fa-fw"></i>
                &nbsp;{{ 'ADMIN' | translate }}
              </a>
            </li>
          </ul>
        </div>

        <button class="btn btn-block btn-default active no-round-corner text-capitalize"
          ng-click="vm.removeMember()">
          {{ 'REMOVE_MEMBER' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
