<div data-container="#loginPlugin">
  <div ng-if="!vm.hasLogin">
    <button class="btn btn-primary active no-round-corner"
      type="button"
      data-placement="bottom"
      data-animation="am-flip-x"
      data-template="app/member/login/login_popover.html"
      auto-close="true"
      bs-popover>
      <i class="fa fa-gw fa-user-plus"></i>
      &nbsp;{{ 'LOGIN' | translate }}
    </button>
  </div>

  <div ng-if="vm.hasLogin">
    <button class="btn btn-primary active no-round-corner"
      ng-click="vm.goToMyAccount()"
      type="button">
      <i class="fa fa-user"></i>
      &nbsp;{{ 'MY_ACCOUNT' | translate }}
    </button>

    <button class="btn btn-primary active no-round-corner"
      ng-click="vm.signOut()"
      type="button">
      <i class="fa fa-sign-out"></i>
      &nbsp;{{ 'LOGOUT' | translate }}
    </button>
  </div>
</div>
