<div>
  <page-header></page-header>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 dashboard-inner">
      <ul class="nav-dashboard nav-tabs-dashboard nav-tabs-width-5"
        role="tablist"
        id="myTab">

        <li role="presentation" class="active">
          <a data-target="#profile"
            role="tab"
            data-toggle="tab"
            class="text-capitalize"
            ng-click="">
            {{ 'PROFILE' | translate }}
          </a>
        </li>

        <li role="presentation" ng-show="vm.member.is_active">
          <a data-target="#booking"
            role="tab"
            data-toggle="tab"
            class="text-capitalize"
            ng-click="">
            {{ 'BOOKINGS' | translate }}
          </a>
        </li>

        <li role="presentation" ng-show="vm.member.is_active">
          <a data-target="#events"
            role="tab"
            data-toggle="tab"
            class="text-capitalize"
            ng-click="">
            {{ 'EVENTS' | translate }}
          </a>
        </li>

        <li role="presentation" ng-show="vm.member.is_active">
          <a data-target="#clubs"
            role="tab"
            data-toggle="tab"
            class="text-capitalize"
            ng-click="">
            {{ 'CLUBS' | translate }}
          </a>
        </li>

        <li role="presentation" ng-show="vm.member.is_active">
          <a data-target="#notifications"
            role="tab"
            data-toggle="tab"
            class="text-capitalize"
            ng-click="">
            {{ 'NOTIFICATIONS' | translate }}
            <span class="label label-danger label-as-badge" ng-show="vm.newNotifications > 0">
              {{ vm.newNotifications }}
            </span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <member-profile></member-profile>
          <member-password></member-password>
        </div>

        <div role="tabpanel" class="tab-pane" id="booking">
          <member-booking></member-booking>
        </div>

        <div role="tabpanel" class="tab-pane" id="events">
          <member-event></member-event>
        </div>

        <div role="tabpanel" class="tab-pane" id="clubs">
          <member-club></member-club>
        </div>

        <div role="tabpanel" class="tab-pane" id="notifications">
          <member-notification></member-notification>
        </div>
      </div>
    </div><!-- End of column. -->
  </div><!-- End of row. -->

  <page-footer></page-footer>
</div>
