<div>
  <div class="alert alert-danger" role="alert" ng-show="!vm.member.is_active">
    {{ 'ACCOUNT_INACTIVE' | translate }}&nbsp;
    <a ng-click="vm.activateMember()">{{ 'REQUEST_ACTIVATE' | translate }}</a>
  </div>

  <h4>Edit Profile</h4>
  <div class="profile">
    <form name="form" novalidate>
      <fieldset ng-disabled="vm.stu.isUpdatting()">
        <!-- Should really use bootstrap standard tags rather than ul, li and span... -->
        <!-- Their styles are easy to conflict with other plugins. -->
        <ul>
          <li class="form-group">
            <span class="profile-span">{{ 'EMAIL' | translate }}</span>
            <input class="form-control"
              id="email"
              name="email"
              ng-model="vm.member.email"
              readonly />
          </li>

          <li class="li-3">
            <span class="profile-span">{{ 'TITLE' | translate }}</span>
            <label>
              <select class="form-control"
                ng-model="vm.member.title">
                <option value="" selected>Please select</option>
                <option value="MR">{{ 'MR' | translate }}</option>
                <option value="MRS">{{ 'MRS' | translate }}</option>
                <option value="MS">{{ 'MS' | translate }}</option>
              </select>
            </label>
          </li>

          <!-- Just don't check first_name and last_name. -->
          <!-- Nobody wants to see a message saying something like: your name is invalid! -->
          <li>
            <span class="profile-span">{{ 'FIRST_NAME' | translate }}</span>
            <input class="form-control"
              id="firstName"
              name="firstname"
              type="text"
              ng-model="vm.member.first_name" />
          </li>

          <li>
            <span class="profile-span">{{ 'LAST_NAME' | translate }}</span>
            <input class="form-control"
              id="lastName"
              name="lastName"
              type="text"
              ng-model="vm.member.last_name" />
          </li>

          <li class="li-3">
            <span class="profile-span">{{ 'GENDER' | translate }}</span>
            <label>
              <select class="form-control"
                id="gender"
                name="gender"
                ng-model="vm.member.gender">
                <option value="" selected>Please select</option>
                <option value="M">{{ 'MALE' | translate }}</option>
                <option value="F">{{ 'FEMALE' | translate }}</option>
              </select>
            </label>
          </li>

          <li>
            <!-- TODO - Check why customised style of datepicker not working. -->
            <span class="profile-span">{{ 'DOB' | translate }}</span>
            <input class="form-control"
              id="dob"
              name="dob"
              ng-model="vm.member.dob"
              max-date="today"
              type="text"
              placement="right"
              ng-keyup="vm.member.dob = ''"
              bs-datepicker />
          </li>

          <li class="form-group"
            ng-class="{ 'has-error': form.landline.$invalid && !form.landline.$pristine }">
            <span class="profile-span">{{ 'PHONE' | translate }}</span>
            <input class="form-control"
              id="landline"
              name="landline"
              ng-model="vm.member.landline"
              type="number" />

            <p ng-show="form.landline.$error.number && !form.landline.$pristine" class="help-block">
              {{ 'INVALID_PHONE_NUMBER' | translate }}
            </p>
          </li>

          <li class="form-group"
            ng-class="{ 'has-error': form.cellphone.$invalid && !form.cellphone.$pristine }">
            <span class="profile-span">{{ 'CELLPHONE' | translate }}</span>
            <input class="form-control"
              id="cellphone"
              name="cellphone"
              ng-model="vm.member.cellphone"
              type="number" />

            <p ng-show="form.cellphone.$error.number && !form.cellphone.$pristine" class="help-block">
              {{ 'INVALID_PHONE_NUMBER' | translate }}
            </p>
          </li>

          <div class="hr"></div>
          <li>
            <button type="button"
              class="btn btn-success"
              ng-click="vm.updateProfile()">
              <span ng-show="vm.stu.isUpdating()">
                <i class="fa fa-spinner fa-spin"></i>
              </span>
              {{ vm.stu.isUpdating() ? ('SAVING' | translate) : ('SAVE' | translate) }}
            </button>

            <!-- Reset changes. -->
            <a class="cancel-btn" ng-click="vm.cancel()">
              {{ 'CANCEL' | translate }}
            </a>
          </li>
        </ul>

        <div class="float-r">
          <div class="row">
            <!-- This will only show the last uploaded photo. This is a trick to reload image-thumb directive. -->
            <!-- By using ng-repeat, the image-thumb directive will get reloaded everytime uploader queue has been changed. -->
            <span ng-repeat="item in vm.uploader.queue">
              <div ng-if="vm.uploader.queue.length - 1 == $index"
                class="col-md-6 dotted-border-right"
                image-thumb="{ file: item._file, width: 130, height: 140}">
              </div>
            </span>

            <div ng-show="vm.uploader.queue.length == 0" class="col-md-6 dotted-border-right">
              <img class="img-thumbnail"
                ng-src="{{ vm.avatarSrc }}"
                style="width: 130px; height: 140px" />
            </div>

            <div class="col-md-6 flr">
              <button class="btn btn-block btn-success btn-file active no-round-corner">
                <i class="fa fa-search"></i>
                &nbsp;{{ 'CHOOSE_FILE' | translate }}

                <input type="file"
                  uploader="vm.uploader"
                  nv-file-select />
              </button>

              <button class="btn btn-block btn-success active no-round-corner"
                ng-disabled="vm.uploader.queue.length != 0 && vm.uploader.queue[vm.uploader.queue.length - 1].isUploading"
                ng-click="vm.uploadAvatar()">
                <span ng-show="!vm.uploader.queue[vm.uploader.queue.length - 1].isUploading">
                  <i class="fa fa-upload"></i>
                </span>
                <span ng-show="vm.uploader.queue[vm.uploader.queue.length - 1].isUploading">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>

                &nbsp;{{
                  (vm.uploader.queue.length > 0 && vm.uploader.queue[vm.uploader.queue.length - 1].isUploading) ?
                  ('UPLOADING' | translate) :
                  ('UPLOAD' | translate)
                }}
              </button>

              <button class="btn btn-block btn-default active no-round-corner"
                ng-click="vm.resetAvatar()">
                <i class="fa fa-times"></i>
                &nbsp;{{ 'CANCEL' | translate }}
              </button>
            </div>

          </div>
        </div>

        <div class="profile-links flr" ng-show="vm.member.is_active">
          <a class="de-active" ng-click="vm.deactivateMember()">
            Deactivate
          </a>
          &nbsp;
          <a class="my-account" ng-click="">
            my account
          </a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
