<div>
  <h4>Edit Profile</h4>
  <div class="profile">
    <form>
      <ul>
        <li>
          <span>{{ 'EMAIL' | translate }}</span>
          <input class="form-control"
            id="email"
            name="email"
            ng-model="vm.member.email"
            readonly />
        </li>

        <li class="li-3">
          <span>{{ 'TITLE' | translate }}</span>
          <label>
            <select class="form-control"
              ng-model="vm.member.title">
              <option value="" selected>Please select</option>
              <option value="MR">{{ 'MR' | translate }}</option>
              <option value="MRS">{{ 'MRS' | translate }}</option>
              <option value="MS">{{ 'MS' | translate }}</option>
            </select>
          </label>
        </li>

        <li>
          <span>{{ 'FIRST_NAME' | translate }}</span>
          <input class="form-control"
            id="firstName"
            name="firstname"
            type="text"
            ng-model="vm.member.first_name" />
        </li>

        <li>
          <span>{{ 'LAST_NAME' | translate }}</span>
          <input class="form-control"
            id="lastName"
            name="lastName"
            type="text"
            ng-model="vm.member.last_name" />
        </li>

        <li class="li-3">
          <span>{{ 'GENDER' | translate }}</span>
          <label>
            <select class="form-control"
              id="gender"
              name="gender"
              ng-model="vm.member.gender">
              <option value="" selected>Please select</option>
              <option value="M">{{ 'MALE' | translate }}</option>
              <option value="F">{{ 'FEMALE' | translate }}</option>
            </select>
          </label>
        </li>

        <li>
          <span>{{ 'DOB' | translate }}</span>
          <input class="form-control"
            id="dob"
            name="dob"
            ng-model="vm.member.dob"
            bs-datepicker />
        </li>

        <li>
          <span>{{ 'PHONE' | translate }}</span>
          <input class="form-control"
            id="landline"
            name="landline"
            ng-model="vm.member.landline" />
        </li>

        <li>
          <span>{{ 'CELLPHONE' | translate }}</span>
          <input class="form-control"
            id="cellphone"
            name="cellphone"
            ng-model="vm.member.cellphone" />
        </li>

        <div class="hr"></div>
        <li>
          <input type="button"
            class="btn btn-success"
            value="Save"
            ng-click="vm.updateProfile()" />

          <!-- Reset changes. -->
          <a class="cancel-btn" href="#">Cancel</a>
        </li>
      </ul>

      <div class="float-r"><img src="images/profile-img.jpg"><div class="flr"> <label><select class="form-control">
        <option>Change photo</option>
        <option>One</option>
        <option>Two</option>
        </select></label></div> </div>
      <div class="profile-links flr"> <a class="de-active" href="#">Deactivate</a> <a class="my-account" href="#">my account</a></div>
    </form>
  </div>
</div>
