<div class="row dashboard-item">
  <div class="col-xs-3 col-md-2">
    <img class="img-thumbnail pull-right"
      ng-src="{{ vm.clubImg }}"
      style="width: 150px; height: 170px" />
  </div>

  <div class="col-xs-5 col-md-6">
    <div class="row">
      <div class="club-name">
        <a ng-click="">{{ vm.club.name }}</a>
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-address">
        <span class="flag-icon flag-icon-{{ vm.country.toLowerCase() }}"></span>
        &nbsp;{{ vm.addressStr }}, {{ vm.country.toUpperCase() | translate }}
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-tip" ng-show="vm.role == 'A'">
        <i class="fa fa-wrench"></i>
        &nbsp;{{ 'ADMIN_OF_CLUB' | translate }}
      </div>
      <div class="dashboard-tip" ng-show="vm.role == 'P'">
        <i class="fa fa-graduation-cap"></i>
        &nbsp;{{ 'PROFESSOR_OF_CLUB' | translate }}
      </div>
      <div class="dashboard-tip" ng-show="vm.role == 'M'">
        <i class="fa fa-user"></i>
        &nbsp;{{ 'MEMBER_OF_CLUB' | translate }}
      </div>

      <div class="dashboard-hr"></div>

      <div class="dashboard-div">
        {{ vm.club.description }}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-md-1">
      <span></span>
    </div>

    <div class="col-md-10">
      <button class="btn btn-block btn-primary active no-round-corner"
        ng-if="vm.role == 'A'"
        ng-click="vm.goToClubDashboard()">
        Manage Club
      </button>
      <button class="btn btn-block btn-primary active no-round-corner" ng-click="vm.visitClub()">
        Visit Club
      </button>
      <button class="btn btn-block btn-default active no-round-corner" ng-click="vm.quitClub()">
        Quit Club
      </button>
    </div>

    <div class="col-md-1">
      <span></span>
    </div>
  </div>
</div>
