<div>
  <h4 class="dashboard-title">{{ 'REGISTER' | translate }}</h4>

  <form name="form" class="form" novalidate>
    <fieldset ng-disabled="vm.stu.isRegister()">
      <div class="form-group"
        ng-class="{ 'has-error': form.email.$invalid && !form.email.$pristine }">
        <label>{{ 'EMAIL' | translate }}</label>
        <input class="form-control"
          id="email"
          name="email"
          ng-model="vm.email"
          type="email"
          required />

        <p>
          <span ng-show="form.email.$error.required && !form.email.$pristine" class="help-block">
            {{ 'EMPTY_FIELD' | translate }}
          </span>
          <span ng-show="form.email.$error.email && !form.email.$pristine" class="help-block">
            {{ 'INVALID_EMAIL' | translate }}
          </span>
        </p>
      </div>

      <div class="form-group"
        ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
        <label>{{ 'PASSWORD' | translate }}</label>
        <input class="form-control"
          id="password"
          name="password"
          ng-model="vm.password"
          ng-minlength="6"
          ng-maxlength="20"
          type="password"
          required />

        <p>
          <span ng-show="form.password.$error.required && !form.password.$pristine" class="help-block">
            {{ 'EMPTY_FIELD' | translate }}
          </span>
          <span ng-show="(form.password.$error.minlength || form.password.$error.maxlength) && !form.password.$pristine" class="help-block">
            {{ 'PASSWORD_LENGTH' | translate }} 6 - 20
          </span>
        </p>
      </div>

      <div class="form-group"
        ng-class="{ 'has-error': form.reEnter.$invalid && !form.reEnter.$pristine }">
        <label>{{ 'RE_ENTER' | translate }}</label>
        <input class="form-control"
          id="reEnter"
          name="reEnter"
          ng-model="vm.reEnter"
          ng-minlength="6"
          ng-maxlength="20"
          input-match="vm.password"
          type="password"
          required />

        <p>
          <span ng-show="form.reEnter.$error.required && !form.reEnter.$pristine" class="help-block">
            {{ 'EMPTY_FIELD' | translate }}
          </span>
          <span ng-show="(form.reEnter.$error.minlength || form.reEnter.$error.maxlength) && !form.reEnter.$pristine" class="help-block">
            {{ 'PASSWORD_LENGTH' | translate }} 6 - 20
          </span>
          <span ng-show="form.reEnter.$error.match && !form.reEnter.$pristine" class="help-block">
            {{ 'PASSWORD_MISMATCH' | translate }}
          </span>
        </p>
      </div>

      <div class="form-group">
        <label>{{ 'PASSWORD_STRENGTH' | translate }}
          <span ng-show="vm.passStrength < 30 && vm.passStrength > 0" class="password-weak">
            : {{ 'VERY_WEAK' | translate }}
          </span>
          <span ng-show="vm.passStrength >= 30 && vm.passStrength < 50" class="password-weak">
            : {{ 'WEAK' | translate }}
          </span>
          <span ng-show="vm.passStrength >= 50 && vm.passStrength < 83" class="password-good">
            : {{ 'GOOD' | translate }}
          </span>
          <span ng-show="vm.passStrength >= 83 && vm.passStrength < 100" class="password-strong">
            : {{ 'STRONG' | translate }}
          </span>
          <span ng-show="vm.passStrength == 100" class="password-strong">
            : {{ 'VERY_STRONG' | translate }}
          </span>
        </label>

        <div ng-password-strength="vm.password" mode="bootstrap" strength="vm.passStrength" inner-class="progress-bar"></div>
      </div>

      <button class="btn btn-primary"
        ng-click="vm.register()"
        type="button">
        <span ng-show="vm.stu.isRegister()">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
        {{ vm.stu.isRegister() ? ('REGISTERING' | translate) : ('REGISTER' | translate) }}
      </button>
    </fieldset>
  </form>
</div>
